{% extends "base.html" %}
{% block content %}

<div id="contenido">
    <div id="posibleContenido">

        <div id="issuu">

        <div><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:650px;height:450px" id="29011a0b-ea86-bef8-60f2-765cf96b77b8" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;backgroundColor=%23222222&amp;documentId=120320195508-754a3636d6d648dcbe80d88a6de629f8" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:650px;height:450px" flashvars="mode=mini&amp;backgroundColor=%23222222&amp;documentId=120320195508-754a3636d6d648dcbe80d88a6de629f8" /></object>
        </div>

    </div>
 </div>
{% endblock %}
