{% extends "base.html" %}
{% block content %}
    <div id="contenido">
        <div id="posibleContenido">


            <div id="paginaWeb">
                <a href="http://www.mundom.org/" target="_blank" >
                    <img src="public/imagenes/mundom_web.jpg" alt="mundom image" />
                </a>
                <p>MundoM Website </p>
            </div>

            <div id="paginaWeb">
                <a href="http://www.t2000ink.com/" target="_blank">
                    <img src="public/imagenes/t2000web.jpg" alt="t2000 website" />
                </a>
                <p>T2000 Website</p>
            </div>

            <div id="paginaWeb">
                <a href="http://ajuezr.com/" target="_blank">
                    <img src="public/imagenes/ajuezr.jpg" alt="Arturo website"/>
                </a>
                <p>T2000 Website</p>
            </div>

            <div id="paginaWeb">
                <a href="http://final-project.jelastic.lunacloud.com/" target="_blank">
                    <img src="public/imagenes/final-project.jpg" alt="Final Project" />
                </a>
                <p>Final Project (J2EE)</p>
            </div>

             <div id="paginaWeb">
                <a href="school-pages/classic-cars/" target="_blank">
                    <img src="public/imagenes/classic-cars.jpg" />
                </a>
                <p>PHP Project</p>
            </div>
        </div>
     </div>
{% endblock %}
