{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}
    <div id="contenido">
        <div id="posibleContenido">
            <h1>Hello!</h1>
            <p>My name is Miguel Villaespesa, I’m web developer, with expirience in development of new websites
            and the maintenance of existing platforms, using Java(JDBC, J2EE), Php5, Python(Pylons),
            with good knowledge in OOP, and in the architecture mvc.
            I have good knowledge in MySQL, html, xml, css, javascript jquery, ajax… and CMS like Drupal and Wordpress.
            </p>
            <p>
            I also have experience as graphic designer, I was working 5 years for the
            spanish magazines "Cambio 16" and "Cuadernos para el dialogo" and Logotypes, product lables,
            t-shirt, posters… I've got skills with Photoshop, Ilustrator, QuarkXPress, InDesign,...
            </p>
        </div>
    </div>
{% endblock %}
